/**
* CSS Customizado - Landing Page
* @author - Professor José de Assis
*/

/**
/** Smartphone Portrait **
body {
    background-color: #0ff;
}

/** Smartphone Landscape **
@media(min-width: 576px) {
    body{
    background-color: #ff000f;
    }
}

/** Tablet Portrait **
@media(min-width: 768px) {
    body{
    background-color: #ff0;
    }
}

/** Tablet Landscape **
@media(min-width: 768px) {
    body{
    background-color: #000ff0;
    }
}

/** PCs /Note / **
@media(min-width: 992px) {
    body{
    background-color: #0f0;
    }
}

/** PCs /Note / **
@media(min-width: 1200px) {
    body{
    background-color: #d1d  ;
    }
}

**/